body {
  height: 300vh;
  background-color: #d1d8e0;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: #fc5c65;
  position: fixed;
  top: 0px;
}
.blue {
  background-color: #45aaf2;
  position: relative;
}
.green {
  background-color: #26de81;
  position: relative;
  top: 30px;
  left: 50px;
  z-index: 1;
}
.yellow {
  background-color: #fed330;
  /* 포지션 위치 조정 속성 top,bottom,left,right 필수 */
  /* relative(상대): 지금 위치에서 */
}

.text {
  /* absolute는 부모가 포지션이 relative이면 거기서 기준을 잡음 */
  position: absolute;
  right: 10px;
  bottom: 10px;
}
